/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.stopwatch {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    width: 60px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#laps {
    list-style: none;
    padding: 0;
    margin: 0;
}

#laps li {
    margin-bottom: 10px;
}
h1{
    color: #4CAF50;
}